body{
  padding: 0;
  margin: 0 0 0 0;
  background: #030006;
  box-sizing: border-box;
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
}
.profil{
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  font-size: 1.5rem;
  font-weight: 500;
  background: #f73a66;
}
.name{
  font-weight: 600;
  font-size: 40px;
}
.profil img{
  width: 200px;
  height: 120px;
  object-fit: cover;
  border-radius: 100px 0 100px;
  margin: 0 0 20px 0;
  border: 0px solid white;
}
.button{
  color: white;
  margin-top: auto;
  margin-bottom: 80px;
  font-weight: 500;
}
.cont{
  display: flex;
  height: 50%;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}
.carre1, .carre2{
  width: 100px;
  height: 100px;
  border: solid 2px white;
  font-size: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 0px 25px white;
}
.carre1{
  animation: scaled1 1s .5s ease infinite alternate;
}
.carre2{
  animation: scaled2 1s 1.2s ease infinite alternate;
}

@keyframes scaled1 {
  100% {
    transform: scale(1.2);
  }
}
@keyframes scaled2 {
  100%{
    transform: scale(1.2)
  }
}
